@import "~antd/dist/antd.css";

.layout {
  height: 100vh;
}

.body {
  margin: 50px;
}

.addIcons {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  align-self: center;
  cursor: pointer;
}

.textarea {
  width: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0.5px dashed;
  resize: none;
}

.hidden {
  display: none;
}

.card {
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: middle;
}

.highlight {
  background-color: #def3fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}
