@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.layout {
  height: 100vh;
}

.hidden {
  display: none;
}

.body {
  margin: 50px;
  height: 100%;
}

#addBoardBtn {
  width: 200px;
  height: 200px;
  background-color: transparent;
  align-self: flex-start;
}
.spin {
  margin-top: 25vh;
  position: fixed;
}
