@import "~antd/dist/antd.css";

body {
  background-color: rgb(252, 252, 252);
}

.layout {
  min-height: 100vh;
  background-color: rgb(252, 252, 252);
}

.body {
  margin: 50px;
  min-height: 100vh;
  background-color: rgb(252, 252, 252);
}

.addIcons {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  align-self: center;
  cursor: pointer;
}

.textarea {
  width: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0.5px dashed;
  resize: none;
}

.hidden {
  display: none;
}

.card {
  border-radius: 20px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spin {
  margin-top: 25vh;
  position: fixed;
}
